# Configuración del Servidor
PORT=3000
NODE_ENV=development

# Base de Datos (PostgreSQL + PostGIS)
DB_USER=postgres
DB_HOST=localhost
DB_NAME=terreplus_db
DB_PASSWORD=espe
DB_PORT=5434
DB_DIALECT=postgres

# Seguridad (JWT)
JWT_SECRET=@Caracas2500@
JWT_EXPIRATION=86400 